vnpy_postgresql
vnpy_portfoliomanager
vnpy_portfoliostrategy
vnpy_rpcservice
psycopg2-binary
pandas_ta
technical
polars
scipy
scikit-learn
xtquant
datasieve
vnpy_xt
uvicorn[standard]
fastapi
passlib>=1.7.4
websockets>=15.0.1
python-jose>=3.4.0
python-multipart>=0.0.20
